// header
.page__header
	.header-top.clearfix
		.container.big
			.header-top__left
				.phone +7 (466) <span class="color-yellow">456 45 54 </span>
				a(href="#callback").color-yellow.fancybox Обратный звонок
			.header-top__right
				ul.top-menu
					li.active: a(href="#") Каталог
					li: a(href="#") О компании
					li: a(href="#") Как оформить заказ
					li: a(href="#") Оплата и доставка
					li: a(href="#") Контакты
				.top-search
					form(action="#")
						input(type="text", placeholder="Поиск...")
						input(type="submit" value="").fa
	.main-header
		.main-header__top
			.container.big
				a(href="/").top-logo
					img(src="img/logo.png", alt="Все до лампочки")
				a(href="#").top-cart
					span.top-cart__col 5
					span.icon-cart
		.home-slider
			#hSlider.home-slider__list
				-for(var i = 0; i< 5;i++)
					.home-slider__item
						.image
							img(src="img/slider-lampa.png", alt="")
							span.name: span Красивая лампа
						.text
							.price-block
								span.old-price 2 000р.
								span.price 1 120р.
							br
							a(href="#").btn.btn--black В корзину
		.home-slider__bottom
			a(href="#").icon-arr-down
// header end