// footer
.page__footer
	.main-footer
		.container
			.row
				.col-xs-3
					.logo
						img(src="img/logo-footer.png", alt="Все до лампочки")
						p Магазин освещения. У нас есть всё - от светильников до простой лампочки
						p © 2017. Все права защищены
				.col-xs-9
					.row
						.col-xs-3
							h3.footer-header: a(href="#") Карта сайта
							ul.footer-menu
								li: a(href="#") Каталог
								li: a(href="#") О компании
								li: a(href="#") Контакты
						.col-xs-3
							h3.footer-header: a(href="#") как Оформить заказ
							ul.footer-menu
								li: a(href="#") Гарантия и возврат
								li: a(href="#") Оплата и доставка
								li: a(href="#") Оптовикам
						.col-xs-3
							h3.footer-header: a(href="#") Свяжитесь с нами
							ul.footer-menu
								li: a(href="#") info@dolampo4ki.ru
								li: a(href="#") Одноклассники
								li: a(href="#") ВКонтакте
						.col-xs-3
							h3.footer-header: a(href="#") Контакты
							ul.footer-menu
								li: a(href="#") ул. Брянская, д. 39<br>9:00-19:00, без выходных
								li: a(href="#") +7 (466) 456 45 54
								li: a(href="#").fancybox.color-yellow обратный звонок
	.bottom-footer
		.container: .row
			.col-xs-6.ta-left
				a(href="http://niflheimr-13.ru").nilfheim
					img(src="img/nilfheim.png", alt="Нифльхейм - продвижение сайта", title="Нифльхейм - продвижение сайта")
					span  - 
					span.link продвижение сайта
			.col-xs-6.ta-right
				a(href="").katzprod
					span Дизайн сайта 
					span.link katzprod
					| 
					img(src="img/katzprod.png", alt="Katzprod")
// footer end