// header
.page__header
	.header-top.clearfix
		.container.big
			.header-top__left
				.phone +7 (466) <span class="color-yellow">456 45 54 </span>
				a(href="#callback").color-yellow.fancybox Обратный звонок
			.header-top__right
				ul.top-menu
					li.active: a(href="#") Каталог
					li: a(href="#") О компании
					li: a(href="#") Как оформить заказ
					li: a(href="#") Оплата и доставка
					li: a(href="#") Контакты
				.top-search
					form(action="#")
						input(type="text", placeholder="Поиск...")
						input(type="submit" value="").fa
	.main-header.inner
		.main-header__top
			.container.big
				a(href="/").top-logo
					img(src="img/logo.png", alt="Все до лампочки")
				a(href="#").top-cart
					span.top-cart__col 5
					span.icon-cart
		.catalog-menu
			.container.small
				ul.catalog-menu__list
					li: .content
						.icon-wrap: span.icon.icon-ci1
						span.text Все товары
					li: .content
						.icon-wrap: span.icon.icon-ci2
						span.text Люстры, светильники

					li: .content
						.icon-wrap: span.icon.icon-ci3
						span.text Точечные светильники

					li: .content
						.icon-wrap: span.icon.icon-ci4
						span.text Розетки, выключатели

					li: .content
						.icon-wrap: span.icon.icon-ci5
						span.text Кабели <br>и провода

					li: .content
						.icon-wrap: span.icon.icon-ci6
						span.text Автоматика, реле, пускатели

					li: .content
						.icon-wrap: span.icon.icon-ci7
						span.text Шкафы, боксы, щиты

					li: .content
						.icon-wrap: span.icon.icon-ci8
						span.text Сад.-парковые светильники

					li: .content
						.icon-wrap: span.icon.icon-ci9
						span.text Комплектующие к светотехнике

					li: .content
						.icon-wrap: span.icon.icon-ci10
						span.text Лампы

					li: .content
						.icon-wrap: span.icon.icon-ci11
						span.text Кабель-каналы, аксессуары

					li: .content
						.icon-wrap: span.icon.icon-ci12
						span.text Товары для электромонтажа

					li: .content
						.icon-wrap: span.icon.icon-ci13
						span.text Светодиоидные изделия

					li: .content
						.icon-wrap: span.icon.icon-ci14
						span.text Декоративное освещение

					li: .content
						.icon-wrap: span.icon.icon-ci15
						span.text Промышленный, уличный свет

					li: .content
						.icon-wrap: span.icon.icon-ci16
						span.text Торговое освещение

// header end