extends _template

block main
	.section-gray
		.container.small
			.top-bar.clearfix
				ul.breadcrumbs.fl-left
					li: a(href="#") Главная
					li.active: a(href="#") О компании
				ul.socials.fl-right
					li: a(href="#")	
					li: a(href="#")	
					li: a(href="#")	
					li: a(href="#")	
			.article
				.article__image
					img(src="img/about-image.jpg", alt="")
				.article__text
					p <b>Старинный двухэтажный дом</b> кремового цвета помещался на бульварном кольце в глубине чахлого сада, отделенного от тротуара кольца резною чугунною решеткой. Небольшая площадка перед домом была заасфальтирована, и в зимнее время на ней возвышался сугроб с лопатой, а в летнее время она превращалась в великолепнейшее отделение летнего ресторана под парусиновым тентом.
					p Дом назывался «домом Грибоедова» на том основании, что будто бы некогда им владела тетка писателя − <b>Александра Сергеевича Грибоедова</b>. Ну владела или не владела − мы того не знаем. Помнится даже, что, кажется, никакой тетки-домовладелицы у Грибоедова не было… Однако дом так называли. Более того, один московский врун рассказывал, что якобы вот во втором этаже, в круглом зале с колоннами, знаменитый писатель читал отрывки из «Горя от ума» этой самой тетке, раскинувшейся на софе, а впрочем, черт его знает, может быть, и читал, не важно это!
					p А важно то, что в настоящее время владел этим домом тот самый <u>МАССОЛИТ</u>, во главе которого стоял несчастный Михаил Александрович Берлиоз до своего появления на Патриарших прудах.
					p С легкой руки членов МАССОЛИТа никто не называл дом «домом Грибоедова», а все говорили просто − «Грибоедов»: «Я вчера два часа протолкался у Грибоедова», − «Ну и как?» − «В Ялту на месяц добился». − «Молодец!». Или: «Пойди к Берлиозу, он сегодня от четырех до пяти принимает в Грибоедове…» И так далее.
					p МАССОЛИТ разместился в Грибоедове так, что <u>лучше</u> и уютнее <u>не придумать</u>.
		// clients
		.gray
			.section-carousel.discount-section
				.section-header.clearfix
					.container
						.left
							h2 Популярные товары
							ul.product-carousel__nav
								li: a(href="#"): i.icon-arr-left
								li: a(href="#"): i.icon-arr-right
				.section-body
					.container
						ul.product-carousel.client-carousel(data-dots="false")
							-for(var j=0; j<5;j++)
								-for(var i = 1; i<=4; i++)
									li: img(src="img/client"+i+".png", alt="")
		// clients end
