extends _template

block main
	.section-gray
		.container.small
			.top-bar.clearfix
				ul.breadcrumbs.fl-left
					li: a(href="#") Главная
					li.active: a(href="#") О компании
				ul.socials.fl-right
					li: a(href="#")	
					li: a(href="#")	
					li: a(href="#")	
					li: a(href="#")	
		.container.small
			form(action="#").order-form
				.section-header.clearfix
					.left
						h2 Доставка
					.right
						.order-form__delivery
							label.radio
								input(type="radio" name="delivery")
								span
								span Самовывоз (бесплатно)
							label.radio
								input(type="radio" name="delivery")
								span
								span Доставка курьером
				.order-form__top
					.row
						.col-xs-6
							.row
								.col-xs-6: input(type="text" placeholder="Ваше имя").input--gray
								.col-xs-6: input(type="tel" placeholder="Номер телефона").input--gray
								.col-xs-12: input(type="text" placeholder="Улица").input--gray
						.col-xs-6
							.row
								.col-xs-12
									select(name="district").input--gray
										option Выбор района
										option Советский
										option Фокинский
										option Бежицкий
										option Володарский
								.col-xs-6: input(type="text" placeholder="Номер дома").input--gray
								.col-xs-6: input(type="text" placeholder="Квартира/офис").input--gray
				.section-header.clearfix
					.left
						h2 Способ оплаты
					.right
						.order-form__delivery
							label.radio
								input(type="radio" name="pay")
								span
								span Наличными (бесплатно)
							label.radio
								input(type="radio" name="pay")
								span
								span Онлайн
							label.radio
								input(type="radio" name="pay")
								span
								span По карте курьеру
				.order-form__final.clearfix
					.order-form__you-order
						.section-header
							.left: h2 Ваш заказ
						.main-cart
							table.main-cart__table
								thead
									tr
										th
										th.info Продукция
										th Итого
								tbody
									tr
										td
											a(href="#"): img(src="img/preview1.jpg", alt="")
										td.info
											span: b Садовый светильник ЭРА
											span Артикул: 2888864
										td.sum 3 998 р.
									tr
										td(colspan="6"): span.sep
									tr
										td
											a(href="#"): img(src="img/preview2.jpg", alt="")
										td.info
											span: b Садовый светильник ЭРА
											span Артикул: 2888864									
										td.sum 3 998 р.
									tr
										td(colspan="6"): span.sep
									tr
										td
											a(href="#"): img(src="img/preview3.jpg", alt="")
										td.info
											span: b Садовый светильник ЭРА
											span Артикул: 2888864
										td.sum 3 998 р.
									tr
										td(colspan="6"): span.sep
									tr
										td
											a(href="#"): img(src="img/preview4.jpg", alt="")
										td.info
											span: b Садовый светильник ЭРА
											span Артикул: 2888864
										td.sum 3 998 р.
					.order-form__check
						.section-header
							.left: h2 Итого
						.order-check
							table
								tbody
									tr
										td Итого в корзине
										td 13 948р.
									tr
										td Доставка
										td 500р.
									tr
										td Итого к оплате
										td 14 448р.
									tr
										td Способ оплаты
										td Онлайн 
									tr
										td Способ доставки
										td Курьер
								tfoot
									tr
										td К оплате
										td 14 448р.
							button(type="submit" href="#").btn.btn--yellow Сделать заказ и оплатить