extends _template

block main
	.section-gray
		.e404
			.container.small
				.centered__wrap
					.centered
						b Света нет! ошибка 404
						p К сожалению, страница, которую Вы запросили, не найдена. Вы можете перейти на главную страницу или воспользоваться каталогом товаров. Если эта ошибка будет повторяться, обратитесь, пожалуйста, в службу поддержки.
						a(href="/").btn.btn--yellow на главную
