extends _template

block main
	.section-gray
		.container.big
			.row
				.col-xs-3
					.catalog-filter.clearfix
						form(action="#")
							.filter-category
								.filter-category__header
									span Категории
								.filter-category__body.toggle
									.filter-params
										label
											input(type="checkbox" name="category")
											span.name Настенные
											span.value 150
										label
											input(type="checkbox" name="category")
											span.name Подвесные
											span.value 218
										label
											input(type="checkbox" name="category")
											span.name Ландшафтные
											span.value 32
										label
											input(type="checkbox" name="category")
											span.name На столбе
											span.value 95
							.filter-category
								.filter-category__header
									span Производитель
								.filter-category__body.toggle.close
									.filter-params
										label
											input(type="checkbox" name="brand")
											span.name Chiaro
											span.value 150
										label
											input(type="checkbox" name="brand")
											span.name MW-Light
											span.value 218
										label
											input(type="checkbox" name="brand")
											span.name Odeon Light
											span.value 32
										label
											input(type="checkbox" name="brand")
											span.name Arte Lamp
											span.value 95
										label
											input(type="checkbox" name="brand")
											span.name Brilliant
											span.value 218
										label
											input(type="checkbox" name="brand")
											span.name Eglo
											span.value 32
							.filter-category
								.filter-category__header
									span Цвет
								.filter-colors
									label
										input(type="checkbox" name="color")
										img(src="img/color1.jpg", alt="")
									label
										input(type="checkbox" name="color")
										img(src="img/color2.jpg", alt="")
									label
										input(type="checkbox" name="color")
										img(src="img/color3.jpg", alt="")
									label
										input(type="checkbox" name="color")
										img(src="img/color4.jpg", alt="")
									label
										input(type="checkbox" name="color")
										img(src="img/color5.jpg", alt="")
									label
										input(type="checkbox" name="color")
										img(src="img/color6.jpg", alt="")
									label
										input(type="checkbox" name="color")
										img(src="img/color7.jpg", alt="")
							.filter-category
								.filter-category__header
									span Цена
								.filter-category__body
									.filter-slider
										#filterSlider(data-min="0",data-max="1000", data-min-init="0", data-max-init="100")
										.filter-slider__values
											span: input(type="text" readonly).min.input--gray
											span.sep -
											span: input(type="text" readonly).max.input--gray
							input(type="reset" value="Очистить все").btn.btn--yellow
				.col-xs-9
					// search
					.catalog-search
						form(action="#")
							input(type="text", placeholder="Что вы хотите найти")
							input(type="submit" value="Найти")
					// search end
					// discount
					.section-carousel.discount-section
						.section-header.clearfix.margin
							.left
								h2 Товары со скидкой
								ul.product-carousel__nav
									li: a(href="#"): i.icon-arr-left
									li: a(href="#"): i.icon-arr-right
							.right
								ul.sort
									li.active: a(href="#") все
									li: a(href="#") до 50%
									li: a(href="#") до 70%
									li: a(href="#") до 90%
						.section-body.transparent
							ul.product-carousel.discount-carousel
								-for(var j=0; j<5;j++)
									-for(var i = 1; i<=4; i++)
										li.product-item
											span.product-item__discount 50%
											.product-item__image
												img(src="img/product"+i+".jpg", alt="")
											.product-item__text
												span.product-item__name Модная ламда
												p.product-item__desc Gauss LED G4 12V 3W 2700K 1/20/200
												.product-item__price-block
													span.old 6 456
													span.price 3 354
												a.btn.btn--yellow.product-item__btn(href="#") В корзину
					// discount end
					// catalog sort
					.catalog-sort
						form(action="#")
							.catalog-sort__item
								span.name Сортировать по:
								select.select-sort-js
									option(value="") Популярности
									option(value="") Популярности
									option(value="") Популярности
							.catalog-sort__item
								span.name Показывать:
								select.select-sort-js
									option(value="") 1
									option(value="") 2
									option(value="") 3
					// catalog sort end
					// catalog list
					.catalog-list.clearfix
						.row
							-for(var i=1; i< 9; i++)
								.col-xs-4
									.product-item
										.product-item__image
											img(src="img/product"+i+".jpg", alt="")
										.product-item__text
											span.product-item__name Модная ламда
											p.product-item__desc Gauss LED G4 12V 3W 2700K 1/20/200
											.product-item__price-block
												span.old 6 456
												span.price 3 354
											a.btn.btn--yellow.product-item__btn(href="#") В корзину
						.pagination
							a(href="#").disable: i.fa.fa-chevron-left
							span 1
							span из
							a(href="#") 38
							a(href="#"): i.fa.fa-chevron-right

