extends _template-home

block main
	// discount
	.section-carousel.discount-section
		.section-header.clearfix
			.container
				.left
					h2 Товары со скидкой
					ul.product-carousel__nav
						li: a(href="#"): i.icon-arr-left
						li: a(href="#"): i.icon-arr-right
				.right
					ul.sort
						li.active: a(href="#") все
						li: a(href="#") до 50%
						li: a(href="#") до 70%
						li: a(href="#") до 90%
		.section-body
			.container
				ul.product-carousel.discount-carousel
					-for(var j=0; j<5;j++)
						-for(var i = 1; i<=4; i++)
							li.product-item
								span.product-item__discount 50%
								.product-item__image
									img(src="img/product"+i+".jpg", alt="")
								.product-item__text
									span.product-item__name Модная ламда
									p.product-item__desc Gauss LED G4 12V 3W 2700K 1/20/200
									.product-item__price-block
										span.old 6 456
										span.price 3 354
									a.btn.btn--yellow.product-item__btn(href="#") В корзину
	// discount end
	// popular
	.section-carousel.discount-section
		.section-header.clearfix
			.container
				.left
					h2 Популярные товары
					ul.product-carousel__nav
						li: a(href="#"): i.icon-arr-left
						li: a(href="#"): i.icon-arr-right
				.right
					a(href="#") 
						| Посмотреть все 
						i.icon-rr
		.section-body
			.container
				ul.product-carousel.popular-carousel
					-for(var j=0; j<5;j++)
						-for(var i = 5; i<=8; i++)
							li.product-item
								.product-item__image
									img(src="img/product"+i+".jpg", alt="")
								.product-item__text
									span.product-item__name Модная ламда
									p.product-item__desc Gauss LED G4 12V 3W 2700K 1/20/200
									.product-item__price-block
										span.old 6 456
										span.price 3 354
									a.btn.btn--yellow.product-item__btn(href="#") В корзину
	// popular end
	// clients
	.section-carousel.discount-section
		.section-header.clearfix
			.container
				.left
					h2 Популярные товары
					ul.product-carousel__nav
						li: a(href="#"): i.icon-arr-left
						li: a(href="#"): i.icon-arr-right
				.right
					a(href="#") 
						| Посмотреть все 
						i.icon-rr
		.section-body
			.container
				ul.product-carousel.client-carousel(data-dots="false")
					-for(var j=0; j<5;j++)
						-for(var i = 1; i<=4; i++)
							li: img(src="img/client"+i+".png", alt="")
	// clients end