extends _template

block main
	.section-gray
		.container.small
			.top-bar.clearfix
				ul.breadcrumbs.fl-left
					li: a(href="#") Главная
					li: a(href="#") каталог
					li: a(href="#") декоративное освещение
					li.active: a(href="#") Садовый светильник эра
				ul.socials.fl-right
					li: a(href="#")	
					li: a(href="#")	
					li: a(href="#")	
					li: a(href="#")	
			.product-main
				.row
					.col-xs-6
						.product-preview
							.product-preview__image
								img(src="img/preview-big.jpg", alt="")
							.product-preview__carousel
								.nav
									button.prev: i.fa.icon-arr-left
									button.next: i.fa.icon-arr-right
								ul
									li: a(href="img/preview-big.jpg"): img(src="img/preview1.jpg", alt="").active
									li: a(href="img/preview2.jpg"): img(src="img/preview2.jpg", alt="")
									li: a(href="img/preview3.jpg"): img(src="img/preview3.jpg", alt="")
									li: a(href="img/preview4.jpg"): img(src="img/preview4.jpg", alt="")
									li: a(href="img/preview5.jpg"): img(src="img/preview5.jpg", alt="")
					.col-xs-6
						.product-info
							.product-info__top
								h1.name Садовый светильник ЭРА
								span.model Модель: <b>SL-RSN17-OWL2</b>
								.product-info__price
									span.main 1 599р.
									span.old 7 599р.
							p.description Керамический светильник Сова на ножках. В дневное время суток служит прекрасным украшением, оживляет пейзаж. Ночью - декоративной подсветкой кустарника, газона, альпийской горки. Использование рефлектора в конструкции обеспечивает высокую яркость. 
							.product-info__params
								table
									tr
										td Габариты
										td Глубина: 17 см; ширина: 8 см; высота: 9.5 см
									tr
										td Питание
										td На солнечных батареях 
									tr
										td Время работы
										td 8 часов от аккумулятора 
									tr
										td производитель
										td Китай
									tr
										td Артикул
										td 2888864
							.product-info__footer
								.input--gray.product-info__count
									button.plus +
									input(type="text" value="1" readonly).num
									button.minus -
								a(href="#").btn.btn--yellow К корзину


		// popular
		.section-carousel
			.gray
				.section-header.clearfix
					.container
						.left
							h2 Популярные товары
							ul.product-carousel__nav
								li: a(href="#"): i.icon-arr-left
								li: a(href="#"): i.icon-arr-right
				.section-body
					.container
						ul.product-carousel.popular-carousel
							-for(var j=0; j<5;j++)
								-for(var i = 5; i<=8; i++)
									li.product-item
										.product-item__image
											img(src="img/product"+i+".jpg", alt="")
										.product-item__text
											span.product-item__name Модная ламда
											p.product-item__desc Gauss LED G4 12V 3W 2700K 1/20/200
											.product-item__price-block
												span.old 6 456
												span.price 3 354
											a.btn.btn--yellow.product-item__btn(href="#") В корзину
		// popular end
