// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-ci1-name: 'icon-ci1';
$icon-ci1-x: 176px;
$icon-ci1-y: 90px;
$icon-ci1-offset-x: -176px;
$icon-ci1-offset-y: -90px;
$icon-ci1-width: 33px;
$icon-ci1-height: 33px;
$icon-ci1-total-width: 209px;
$icon-ci1-total-height: 195px;
$icon-ci1-image: '../img/icon-set.png';
$icon-ci1: (176px, 90px, -176px, -90px, 33px, 33px, 209px, 195px, '../img/icon-set.png', 'icon-ci1', );
$icon-ci10-name: 'icon-ci10';
$icon-ci10-x: 0px;
$icon-ci10-y: 101px;
$icon-ci10-offset-x: 0px;
$icon-ci10-offset-y: -101px;
$icon-ci10-width: 30px;
$icon-ci10-height: 49px;
$icon-ci10-total-width: 209px;
$icon-ci10-total-height: 195px;
$icon-ci10-image: '../img/icon-set.png';
$icon-ci10: (0px, 101px, 0px, -101px, 30px, 49px, 209px, 195px, '../img/icon-set.png', 'icon-ci10', );
$icon-ci11-name: 'icon-ci11';
$icon-ci11-x: 0px;
$icon-ci11-y: 150px;
$icon-ci11-offset-x: 0px;
$icon-ci11-offset-y: -150px;
$icon-ci11-width: 14px;
$icon-ci11-height: 45px;
$icon-ci11-total-width: 209px;
$icon-ci11-total-height: 195px;
$icon-ci11-image: '../img/icon-set.png';
$icon-ci11: (0px, 150px, 0px, -150px, 14px, 45px, 209px, 195px, '../img/icon-set.png', 'icon-ci11', );
$icon-ci12-name: 'icon-ci12';
$icon-ci12-x: 97px;
$icon-ci12-y: 101px;
$icon-ci12-offset-x: -97px;
$icon-ci12-offset-y: -101px;
$icon-ci12-width: 24px;
$icon-ci12-height: 35px;
$icon-ci12-total-width: 209px;
$icon-ci12-total-height: 195px;
$icon-ci12-image: '../img/icon-set.png';
$icon-ci12: (97px, 101px, -97px, -101px, 24px, 35px, 209px, 195px, '../img/icon-set.png', 'icon-ci12', );
$icon-ci13-name: 'icon-ci13';
$icon-ci13-x: 96px;
$icon-ci13-y: 0px;
$icon-ci13-offset-x: -96px;
$icon-ci13-offset-y: 0px;
$icon-ci13-width: 40px;
$icon-ci13-height: 42px;
$icon-ci13-total-width: 209px;
$icon-ci13-total-height: 195px;
$icon-ci13-image: '../img/icon-set.png';
$icon-ci13: (96px, 0px, -96px, 0px, 40px, 42px, 209px, 195px, '../img/icon-set.png', 'icon-ci13', );
$icon-ci14-name: 'icon-ci14';
$icon-ci14-x: 47px;
$icon-ci14-y: 0px;
$icon-ci14-offset-x: -47px;
$icon-ci14-offset-y: 0px;
$icon-ci14-width: 49px;
$icon-ci14-height: 47px;
$icon-ci14-total-width: 209px;
$icon-ci14-total-height: 195px;
$icon-ci14-image: '../img/icon-set.png';
$icon-ci14: (47px, 0px, -47px, 0px, 49px, 47px, 209px, 195px, '../img/icon-set.png', 'icon-ci14', );
$icon-ci15-name: 'icon-ci15';
$icon-ci15-x: 176px;
$icon-ci15-y: 40px;
$icon-ci15-offset-x: -176px;
$icon-ci15-offset-y: -40px;
$icon-ci15-width: 24px;
$icon-ci15-height: 50px;
$icon-ci15-total-width: 209px;
$icon-ci15-total-height: 195px;
$icon-ci15-image: '../img/icon-set.png';
$icon-ci15: (176px, 40px, -176px, -40px, 24px, 50px, 209px, 195px, '../img/icon-set.png', 'icon-ci15', );
$icon-ci16-name: 'icon-ci16';
$icon-ci16-x: 0px;
$icon-ci16-y: 0px;
$icon-ci16-offset-x: 0px;
$icon-ci16-offset-y: 0px;
$icon-ci16-width: 47px;
$icon-ci16-height: 50px;
$icon-ci16-total-width: 209px;
$icon-ci16-total-height: 195px;
$icon-ci16-image: '../img/icon-set.png';
$icon-ci16: (0px, 0px, 0px, 0px, 47px, 50px, 209px, 195px, '../img/icon-set.png', 'icon-ci16', );
$icon-ci2-name: 'icon-ci2';
$icon-ci2-x: 0px;
$icon-ci2-y: 50px;
$icon-ci2-offset-x: 0px;
$icon-ci2-offset-y: -50px;
$icon-ci2-width: 43px;
$icon-ci2-height: 51px;
$icon-ci2-total-width: 209px;
$icon-ci2-total-height: 195px;
$icon-ci2-image: '../img/icon-set.png';
$icon-ci2: (0px, 50px, 0px, -50px, 43px, 51px, 209px, 195px, '../img/icon-set.png', 'icon-ci2', );
$icon-ci3-name: 'icon-ci3';
$icon-ci3-x: 96px;
$icon-ci3-y: 42px;
$icon-ci3-offset-x: -96px;
$icon-ci3-offset-y: -42px;
$icon-ci3-width: 37px;
$icon-ci3-height: 45px;
$icon-ci3-total-width: 209px;
$icon-ci3-total-height: 195px;
$icon-ci3-image: '../img/icon-set.png';
$icon-ci3: (96px, 42px, -96px, -42px, 37px, 45px, 209px, 195px, '../img/icon-set.png', 'icon-ci3', );
$icon-ci4-name: 'icon-ci4';
$icon-ci4-x: 136px;
$icon-ci4-y: 0px;
$icon-ci4-offset-x: -136px;
$icon-ci4-offset-y: 0px;
$icon-ci4-width: 40px;
$icon-ci4-height: 40px;
$icon-ci4-total-width: 209px;
$icon-ci4-total-height: 195px;
$icon-ci4-image: '../img/icon-set.png';
$icon-ci4: (136px, 0px, -136px, 0px, 40px, 40px, 209px, 195px, '../img/icon-set.png', 'icon-ci4', );
$icon-ci5-name: 'icon-ci5';
$icon-ci5-x: 43px;
$icon-ci5-y: 50px;
$icon-ci5-offset-x: -43px;
$icon-ci5-offset-y: -50px;
$icon-ci5-width: 43px;
$icon-ci5-height: 40px;
$icon-ci5-total-width: 209px;
$icon-ci5-total-height: 195px;
$icon-ci5-image: '../img/icon-set.png';
$icon-ci5: (43px, 50px, -43px, -50px, 43px, 40px, 209px, 195px, '../img/icon-set.png', 'icon-ci5', );
$icon-ci6-name: 'icon-ci6';
$icon-ci6-x: 136px;
$icon-ci6-y: 40px;
$icon-ci6-offset-x: -136px;
$icon-ci6-offset-y: -40px;
$icon-ci6-width: 37px;
$icon-ci6-height: 40px;
$icon-ci6-total-width: 209px;
$icon-ci6-total-height: 195px;
$icon-ci6-image: '../img/icon-set.png';
$icon-ci6: (136px, 40px, -136px, -40px, 37px, 40px, 209px, 195px, '../img/icon-set.png', 'icon-ci6', );
$icon-ci7-name: 'icon-ci7';
$icon-ci7-x: 60px;
$icon-ci7-y: 101px;
$icon-ci7-offset-x: -60px;
$icon-ci7-offset-y: -101px;
$icon-ci7-width: 37px;
$icon-ci7-height: 36px;
$icon-ci7-total-width: 209px;
$icon-ci7-total-height: 195px;
$icon-ci7-image: '../img/icon-set.png';
$icon-ci7: (60px, 101px, -60px, -101px, 37px, 36px, 209px, 195px, '../img/icon-set.png', 'icon-ci7', );
$icon-ci8-name: 'icon-ci8';
$icon-ci8-x: 30px;
$icon-ci8-y: 101px;
$icon-ci8-offset-x: -30px;
$icon-ci8-offset-y: -101px;
$icon-ci8-width: 30px;
$icon-ci8-height: 45px;
$icon-ci8-total-width: 209px;
$icon-ci8-total-height: 195px;
$icon-ci8-image: '../img/icon-set.png';
$icon-ci8: (30px, 101px, -30px, -101px, 30px, 45px, 209px, 195px, '../img/icon-set.png', 'icon-ci8', );
$icon-ci9-name: 'icon-ci9';
$icon-ci9-x: 176px;
$icon-ci9-y: 0px;
$icon-ci9-offset-x: -176px;
$icon-ci9-offset-y: 0px;
$icon-ci9-width: 33px;
$icon-ci9-height: 40px;
$icon-ci9-total-width: 209px;
$icon-ci9-total-height: 195px;
$icon-ci9-image: '../img/icon-set.png';
$icon-ci9: (176px, 0px, -176px, 0px, 33px, 40px, 209px, 195px, '../img/icon-set.png', 'icon-ci9', );
$spritesheet-width: 209px;
$spritesheet-height: 195px;
$spritesheet-image: '../img/icon-set.png';
$spritesheet-sprites: ($icon-ci1, $icon-ci10, $icon-ci11, $icon-ci12, $icon-ci13, $icon-ci14, $icon-ci15, $icon-ci16, $icon-ci2, $icon-ci3, $icon-ci4, $icon-ci5, $icon-ci6, $icon-ci7, $icon-ci8, $icon-ci9, );
$spritesheet: (209px, 195px, '../img/icon-set.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
